*.Rproj.user
*.Rhistory
*.RData
*.Rdata
*.Rproj
.Rproj.user
/results/*
*.toc
*.aux
*.log
*.pdf
*.gz
*~
*.html
*.txt
/software/lingpipe/*
/software/stanNER/*
conf_matrix_20141129.csv
confidence_rough.csv
data/ODNB_vis/data/new.idnamecount.csv
data_manual/dataset_Oct62014.csv
exact_matches_new.csv
partial_matches_new.csv
raw_doccount.csv
updated_nodeset.csv
/data/TOPIC_MODEL/results/*
